body.sc {
	font-family: 'Raleway', sans-serif;
}
.row.fullWidth {
	max-width: initial;
}
$sc_orange : #d1a562;
$sc_green : #3e594d;
.header {
	background-color: $sc_orange;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	a {
		color: $sc_green;
		text-decoration: none;
		&:hover {
			color: $sc_green;
		}
		&:visited {
			color: $sc_green;
		}
	}
	.logo {
		img {
			height: 120px;
			padding: 20px 0;	
		}
		float: left;
		.subTitle {
			display: none;
		}
	}
	nav.head-links {
		float: right;
		padding: 40px 30px 0 0;
		 > ul {
			margin-left: 0;
			> li {
				display: inline-block;
				padding: 5px 10px;
				font-weight: 500;
				cursor: pointer;
				position: relative;
				border: 2px solid $sc_green;
				margin: 0 5px;
				&:hover {
					background-color: $sc_green;
					a {
						color: white;
					}
					.dropdown-menu {
						display: block;
						a {
							color: $sc_green;
						}
						li {
							&:hover {
								a {
									color: white;
								}
							}
						}
					}
				}
			}
		}
		.dropdown-menu {
			left: initial;
			right: -2px;
			li {
				padding: 10px;
			}
		}
	}
	.dropdown-menu {
		min-width: 185px;
		position: absolute;
		top: 35px;
		left: 0;
		z-index: 20;
		text-align: left;
		background-color: $sc_orange;
		display: none;
		border: 2px solid $sc_green;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			display: block;
			padding: 10px;
			width: 100%;
			border-bottom: 2px solid $sc_green;
			&:last-child {
				border: none;
			}
			&:hover {
				border-color: $sc_green;
				background-color: $sc_green;
				a {
					color: #FFF;
				}
			}
		}

	}
}
.fp {
	.header {
		width: 100%;
		text-align: center;
		padding-top: 5px;
		nav.head-links {
			float: none;
			margin: 25px 0;
		}
		.logo {
			float: none;
			img {
				height: 130px;
				padding: 0;
			}
			.subTitle {
				display: block;
				margin-top: 20px;
				color: #FFF;
				font-weight: 300;
				font-size: 22px;
				border: 2px dashed #FFF;
				border-width: 1px 0;
			}
		}
		nav.head-links {
			padding: 0;
			.dropdown-menu {
				left: -2px;
				right: initial;
			}
		}
	}
	.block-text {
		padding-top: 40px;
	}
}

.block-text {
	.title {
		text-decoration: underline;
	}
}

.showcase {
	.entry {
		display: none;
		text-align: center;
		padding: 30px 0;
		.title {
			width: 100%;
			font-size: 20px;
			margin-bottom: 30px;
			font-weight: 500;
		}
		.pictures {
			width: 100%;
			img {
				background-color: #FFF;	
				max-width: 70%;
				height: auto;
				padding: 30px;
				margin: 0 0 30px;
				border: 2px solid #000;
			}
		}
		&:nth-child(even) {
		background-color: #EEE
		}
		&:nth-child(odd) {
			background-color: #FFF;
		}
	}
}

.antique-title {
    padding: 20px 0 10px;
    border-color: #000;
    text-align: center;
    text-transform: capitalize;
    hr {
    	margin: 0;
    	border-width: 2px;
    	max-width: 100%;
    	border-color: #000;
    }
    h2.title {
		padding: 3px 0;
		margin-top: 4px;
		border-width: 1px 0;
		border-style: solid;
		border-color: #c0c0c0;
		font-variant: small-caps;
		font-family: 'Arapey', serif;
    }
}

.carousel {
	padding: 20px 0;
	.orbit-bullets button {
		width: 0.8rem;
    	height: 0.8rem;
	}
}
.contact-us {
	text-align: center;
	font-family: 'Arapey', serif;
	p {
		margin: 0;
		font-size: 20px;
	}
	.addr {
		margin-bottom: 30px;
	}
	.title {
		margin-bottom: 35px;
	}
	.capitalize {
		font-variant: small-caps;
	}
}