body.sc {
	font-family: 'Raleway', sans-serif;
}
.row.fullWidth {
	max-width: initial;
}
$sc_orange : #d1a562;
.header {
	background-color: $sc_orange;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	a {
		color: #000;
		text-decoration: none;
		&:hover {
			color: #000;
		}
		&:visited {
			color: #000;
		}
	}
	.logo {
		img {
			height: 120px;
			padding: 20px 0;	
		}
		float: left;
		.subTitle {
			display: none;
		}
	}
	nav.head-links {
		float: right;
		padding: 40px 30px 0 0;
		 > ul {
			margin-left: 0;
			> li {
				display: inline-block;
				padding: 5px 10px;
				font-weight: 500;
				cursor: pointer;
				position: relative;
				border: 2px solid black;
				margin: 0 5px;
				&:hover {
					background-color: black;
					a {
						color: white;
					}
					.dropdown-menu {
						display: block;
						a {
							color: black;
						}
						li {
							&:hover {
								a {
									color: white;
								}
							}
						}
					}
				}
			}
		}
		.dropdown-menu {
			left: initial;
			right: -2px;
			li {
				padding: 10px;
			}
		}
	}
	.dropdown-menu {
		min-width: 185px;
		position: absolute;
		top: 35px;
		left: 0;
		z-index: 20;
		text-align: left;
		background-color: $sc_orange;
		display: none;
		border: 2px solid black;
		ul {
			margin: 0;
		}
		li {
			display: block;
			padding: 10px;
			width: 100%;
			border-bottom: 2px solid black;
			&:last-child {
				border: none;
			}
			&:hover {
				border-color: #000;
				background-color: #000;
				a {
					color: #FFF;
				}
			}
		}

	}
}
.fp {
	.header {
		width: 100%;
		text-align: center;
		padding-top: 5px;
		nav.head-links {
			float: none;
			margin: 25px 0;
		}
		.logo {
			float: none;
			img {
				height: 130px;
				padding: 0;
			}
			.subTitle {
				display: block;
				margin-top: 20px;
				color: #FFF;
				font-weight: 300;
				font-size: 22px;
				border: 2px dashed #FFF;
				border-width: 1px 0;
			}
		}
		nav.head-links {
			padding: 0;
			.dropdown-menu {
				left: -2px;
				right: initial;
			}
		}
	}
	.block-text {
		padding-top: 40px;
	}
}

.block-text {
	.title {
		text-decoration: underline;
	}
}

.showcase {
	h3 {
		font-family: 'Raleway', sans-serif;
	}
	.grey {
		background-color: #EEE;
		.section-image {
			background-color: #FFF;
			text-align: center;
		}
	}
	@include breakpoint(small down) {
		section {
			margin-bottom: 40px;
		}
	}
	.white {
		.section-image {
			border-color: #EEE;
			background-color: #EEE;
			text-align: center;
		}
		.section-text {
			@include breakpoint(medium up) {
				padding-left: 0;
				padding-right: 100px
			}
		}
	}
	.section-image {
		border: 10px solid #FFF;
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 0;
	}
	.section-text {
		padding: 50px 50px 0;
		p {
			padding-top: 30px;
			font-weight: bold;
		}
		font-size: 20px;
		@include breakpoint(small down) {
			padding-top: 0;
		}
		.title {
			@include breakpoint(small down) {
				text-align: center;
			}
			font-weight: 700;
		}
	}
}

.antique-title {
    padding: 20px 0 10px;
    border-color: #000;
    text-align: center;
    text-transform: capitalize;
    hr {
    	margin: 0;
    	border-width: 2px;
    	max-width: 100%;
    	border-color: #000;
    }
    h2.title {
		padding: 3px 0;
		margin-top: 4px;
		border-width: 1px 0;
		border-style: solid;
		border-color: #c0c0c0;
		font-variant: small-caps;
		font-family: 'Arapey', serif;
    }
}

.carousel {
	padding: 20px 0;
	.orbit-bullets button {
		width: 0.8rem;
    	height: 0.8rem;
	}
}
.contact-us {
	text-align: center;
	font-family: 'Arapey', serif;
	p {
		margin: 0;
		font-size: 20px;
	}
	.addr {
		margin-bottom: 30px;
	}
	.title {
		margin-bottom: 35px;
	}
	.capitalize {
		font-variant: small-caps;
	}
}