body.sc {
	font-family: 'Raleway', sans-serif;
}
.row.fullWidth {
	max-width: initial;
}
.header {
	overflow: hidden;
	a {
		color: #000;
		text-decoration: none;
		&:hover {
			color: #000;
		}
		&:visited {
			color: #000;
		}
	}
	.logo {
		font-size: 32px;
		font-weight: bold;
		float: left;
		padding: 30px;
	}
	nav.head-links {
		float: right;
		padding: 30px;
		 > ul {
			margin-left: 0;
			> li {
				display: inline-block;
				padding: 5px 10px;
				font-weight: 500;
				cursor: pointer;
				position: relative;
				&:hover {
					background-color: #EEE;
					.dropdown-menu {
						display: block;
					}
				}
			}
		}
		.dropdown-menu {
			left: initial;
			right: 0;
			li {
				padding: 10px;
			}
		}
	}
	.dropdown-menu {
		min-width: 185px;
		position: absolute;
		top: 35px;
		left: 0;
		z-index: 20;
		text-align: left;
		background-color: #EEE;
		display: none;
		border-top: 5px solid #FFF;
		ul {
			margin: 0;
		}
		li {
			display: block;
			padding: 10px;
			width: 100%;
			border-bottom: 2px solid #DDD;
			&:last-child {
				border: none;
			}
			&:hover {
				border-color: #000;
				background-color: #000;
				a {
					color: #FFF;
				}
			}
		}

	}
}
.fp {
	.header {
		width: 100%;
		text-align: center;
		margin-top: 30px;
		nav.head-links {
			float: none;
			margin: 10px 0 30px;
		}
		.logo {
			float: none;
			padding: 0;
		}
		nav.head-links {
			padding: 0;
			.dropdown-menu {
				left: 0;
				right: initial;
			}
		}
	}
	.fpslider {
		.orbit-container {
			height: 300px;
			img.contain {
				height: 300px;
				width: auto;
			}
		}
		.orbit-bullets {
			button {
				width: 0.7rem;
				height: 0.7rem;
			}
		}
		.orbit-caption {
			@include breakpoint(small down) {
				padding: 0.2rem 1rem;
			}
		}
	}
}

.block-text {
	.title {
		text-decoration: underline;
	}
}

.showcase {
	h3 {
		font-family: 'Raleway', sans-serif;
	}
	.grey {
		background-color: #EEE;
	}
	@include breakpoint(small down) {
		section {
			margin-bottom: 40px;
		}
	}
	.white {
		.section-image {
			border-color: #EEE;
		}
		.section-text {
			@include breakpoint(medium up) {
				padding-left: 0;
				padding-right: 100px
			}
		}
	}
	.section-image {
		border: 10px solid #FFF;
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 0;
	}
	.section-text {
		padding: 30px 50px 0;
		@include breakpoint(small down) {
			padding-top: 0;
		}
		.title {
			@include breakpoint(small down) {
				text-align: center;
			}
			font-weight: 700;
		}
	}
}