<section class="header">
	<div class="logo">Simply Class</div>
	<nav class="head-links">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Design Studio</a>
				<div class="dropdown-menu">
					<ul>
						<li><a href="#">Womenswear Knit</a></li>
						<li><a href="#">Womenswear Woven</a></li>
						<li><a href="#">Menswear Knit</a></li>
						<li><a href="#">Menswear Woven</a></li>
						<li><a href="#">Jeggings</a></li>
					</ul>
				</div>
			</li>
			<li><a href="#">Product Range</a>
				<div class="dropdown-menu">
					<ul>
						<li><a href="#">Womenswear Knit</a></li>
						<li><a href="#">Womenswear Woven</a></li>
						<li><a href="#">Menswear Knit</a></li>
						<li><a href="#">Menswear Woven</a></li>
						<li><a href="#">Jeggings</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</section>