<nav class="head-links">
		<ul>
			<li><a href="/design-studio">Design Studio</a></li>
			<li><a href="/products" target="_blank">Product Range</a>
				<div class="dropdown-menu">
					<ul>
						<li><a href="/products#womenswear-knits">Womenswear Knit</a></li>
						<li><a href="/products#womenswear-woven">Womenswear Woven</a></li>
						<li><a href="/products#menswear-knits">Menswear Knit</a></li>
						<li><a href="/products#menswear-woven">Menswear Woven</a></li>
						<li><a href="/products#jeggings">Jeggings</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
